/*
 * ------------------------------------------------------
 * Nextflow config file for nf-core bactmap on bakersrv1
 * ------------------------------------------------------
 *
 * Modifies the mapping parameters to retain unmapped reads in the bam files
 *
 */

params {
    modules {
        'bwa_mem' {
            args = ''
            args2 = '' // in the default pipeline this is '-F 4' to discard unmapped reads
            publish_files = false
        }
    }
}
