/*                                                                                                                              |
 * ----------------------------------------------------                                                                         |
 * Nextflow config file for ghru mlst on bioinfsrv1                                                                             |
 * ----------------------------------------------------                                                                         |
 *                                                                                                                              |
 * Sets the location of the singularity container                                                                               |
 *                                                                                                                              |
 */                                                                                                                             |
                                                                                                                                |
profiles {                                                                                                                      |
  standard {                                                                                                                    |
       singularity.enabled = true                                                                                               |
       docker.enabled = false                                                                                                   |
        errorStrategy = { task.attempt <= 2 ? "retry" : "finish" }                                                              |
        maxRetries = 2                                                                                                          |
        process {                                                                                                               |
           executor = 'local'                                                                                                   |
           singularity.enabled = true                                                                                           |
           docker.enabled = false                                                                                               |
                withName:'polish_reads:determine_min_read_length' {                                                             |
                container = '/home/software/singularity/ghru/ghru-read-polishing-1.0.sif'                                       |
                }                                                                                                               |
                withName:'polish_reads:estimate_genome_size' {                                                                  |
                container = '/home/software/singularity/ghru/ghru-read-polishing-1.0.sif'                                       |
                }                                                                                                               |
                withName:'polish_reads:trim_reads' {                                                                            |
                container = '/home/software/singularity/ghru/ghru-read-polishing-1.0.sif'                                       |
                }                                                                                                               |
                withName:'polish_reads:correct_reads' {                                                                         |
                container = '/home/software/singularity/ghru/ghru-read-polishing-1.0.sif'                                       |
                }                                                                                                               |
                withName:'polish_reads:downsample_reads' {                                                                      |
                container = '/home/software/singularity/ghru/ghru-read-polishing-1.0.sif'                                       |
                }                                                                                                               |
                withName:'run_mlst:run_ariba' {                                                                                 |
                container = '/home/software/singularity/ghru/ghru-mlst-1.1.sif'                                                 |
                }                                                                                                               |
                withName:'run_mlst:combine_mlst_reports' {                                                                      |
                container = '/home/software/singularity/ghru/ghru-mlst-1.1.sif'                                                 |
                }                                                                                                               |
        }                                                                                                                       |
  }                                                                                                                             |
}
