/*
 * ---------------------------------------------------
 * Nextflow config file for ghruassembly on bakersrv1
 * ---------------------------------------------------
 *
 * Sets the location of the singularity container 
 *
 */

profiles {
  standard {
    process.executor = 'local'
    singularity.docker = false
    singularity.enabled = true
    process.container = '/home/software/singularity/ghru/ghru-assembly-2.0.0.sif'
    errorStrategy = { task.attempt <= 2 ? "retry" : "finish" }
    maxRetries = 2 
  }
}
