/*
 * ---------------------------------------------------
 * Nextflow config file for ghruassembly on bioinfsrv1
 * ---------------------------------------------------
 *
 * Sets the location of the singularity container 
 *
 */

profiles {
  standard {
    process.executor = 'local'
    docker.enabled = false
    singularity.enabled = true
    process.container = '/home/software/singularity/ghru/ghru-mlst-1.1.sif'
    errorStrategy = { task.attempt <= 2 ? "retry" : "finish" }
    maxRetries = 2 
  }
}
