/*
 * -------------------------------------------------
 *  Nextflow config file for bioinfsrv1
 * -------------------------------------------------
 * 
 * Limits the resources to aprox. 50% of what is available on the server 
 *
 */
 
singularity {
  enabled = true
  autoMounts = true
}

params {
  max_memory = 224.GB
  max_cpus = 28
}
